/* Tailwind v4 */
@import "tailwindcss";

:root {
--bg: #f8f9fa;
--fg: #212529;
--card: #ffffff;
--muted: #6c757d;
--primary: #3b82f6;
}

body {
background-color: var(--bg);
color: var(--fg);
}

.dark {
--bg: #202020;
--fg: #f8f9fa;
--card: #efb810;
--muted: #a3a3a3;
--primary: #3b82f6;
}

/* Evita que el header tape los títulos al hacer scroll */
#hero{
scroll-margin-top: 30px; /* ajusta si tu header cambia de tamaño */
}
<!-- #mujer, -->
#hombre,
#niños,
#contacto {
scroll-margin-top: 80px; /* ajusta si tu header cambia de tamaño */
}